---
---
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$piss: #f1c232;
//$grey: #3a3d40;
$grey: rgba(30, 31, 33, 1);
$text-grey: #4d4a30;
$grey-trans: rgba(30, 31, 33, 0.7);
$oswald: 'Oswald', sans-serif;
$merri: 'Merriweather', serif;
$merri-sans: 'Merriweather Sans', sans-serif;
$content-width: 1140px;
$text-width: 800px;

body {
  background-color: $grey;
  color: white;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: 22px;
  line-height: 36px;
}

h1 {
  font-size: 38px;
  font-family: $oswald;
  color: $piss;
}

a {
  color: inherit;
}

button, input, select, textarea {
  font-family: $merri;
  font-size: 22px;
  line-height: 36px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $grey-trans;

  .header-content {
    max-width: $content-width;
    margin: 0 auto;
    padding: 15px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0;
    }

    a {
      font-family: $merri;
      font-size: 22px;
      line-height: 36px;
      padding: 0 10px;
      text-decoration: none;
    }

    a:hover, a:active, a.current {
      color: $piss;
    }
  }
}

.main-section {
  width: 100%;
  min-height: 800px;
  padding: 50px;
  font-family: $merri;

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: stretch;

  button, input, select, textarea {
    color: $text-grey;
  }

  .hero {
    height: 700px;
  }
}

.section-content {
  max-width: $text-width;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#about {
    background-image: url("../images/paradise_lost_cropped.jpg");

    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  h1 {
    color: white;
  }

  .qna {
    padding: 5px 0;
    margin: 0;
    margin-bottom: 30px;

    label {
      font-family: $oswald;
      font-size: 32px;
    }

    .body {
      max-width: 90%;
    }
  }
}

#join {
  background-color: white;
  color: $text-grey;

  h1 {
    color: $text-grey;
  }

  .question {

    label {
      display: block;
      margin-bottom: 15px;
    }

    input[type="text"], textarea {
      border: 1px solid #998;
    }

    input[type="text"] {
      width: 500px;
    }

    textarea {
      height: 200px;
      width: 100%;
      resize: none;
    }
  }
  .question + .question {
    margin-top: 40px;
  }

  input[type="submit"] {
    margin-top: 40px;
    background-color: $grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
  }

  input[type="submit"]:active, input[type="submit"]:hover {
    background-color: $piss;
  }
}

#contact {
  background-color: $piss;
  color: white;
   
  h1 {
    color: white;
  }

  .social-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .social-icon {
    color: white;
    height: 65px;
    width: auto;
  }
}

@media screen and (max-device-width: 640px) {
  body {
    -webkit-text-size-adjust: none;
  }

  body, span, p, input, textarea, a, label, .header .header-content a {
    font-size: 40px;
    line-height: 64px;
  }

  h1 {
    font-size: 64px;
  }

  .main-section {
    min-height: 1600px;
  }
  
  #about .qna label {
    font-size: 50px;
  }
}
